
img {
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 5px solid white;
}

#middle-area {
    text-align: center;
}
#but{
    margin-left:auto;
    margin-right: auto;
    display:block;
    padding: 10px;
    border-radius: 20%;
    background-color: #4f8aff;
    color: white;
    font-family: serif;
    border:none;
    font-size:20px;
    margin-top: 20px;
}

body {
    background-color: #E7DEDF;
}
.color-red {
    border: 5px solid red;
}